<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Traffic Predictions in the Twin Cities</a>
    </h3>
    <h4>
        Predicting traffic volume on westbound I-94 at Minnesota DoT ATR Station 301
    </h4>

    <div class="alert alert-danger" role="alert">
        <p class="alert-link">The database is unavailable. Please wait and try again later.</p>
    </div>

</body>
</html>