<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Traffic Predictions on Westbound I-94 at Minnesota DoT ATR Station 301</a>
    </h3>

    <hr/>

    <table>
         <thead>
            <tr>
               <th>Query Number</th>
               <th>Prediction</th>
               <th>Hour</th>
               <th>Temperature</th>
               <th>Month</th>

            </tr>
         </thead>

         <tbody>
            {% for query in user_query %}  <!-- 'tracks' comes from the render_template in index function -->
               <tr>
                   <td>{{ query.query_number }}</td>
                   <td>{{ query.predicted_traffic_count }}</td>
                   <td>{{ query.hour }}</td>
                   <td>{{ query.temperature }}</td>
                   <td>{{ query.month }}</td>
               </tr>
            {% endfor %}
         </tbody>
    </table>

    <div id = "form_title" class = "index_headers">
        Enter the time of day and weather conditions for your travel time.
    </div>
      <form action="{{ url_for('enter_query_parameters') }}" method=post class=enter-query-parameters>
      <dl>
        <input type=text size=15 name=temperature placeholder="Temperature">
        <input type=text size=15 name=cloud_percentage placeholder="Percentage of Cloud Cover">
        <input type=text size=15 name=weather_description placeholder="Weather Description"> <!--make this a check box-->
        <input type=text size=15 name=month placeholder="Month">
        <input type=text size=15 name=hour placeholder="Hour">
        <input type=text size=15 name=day_of_week placeholder="Day Of Week"> <!--could be calculated from d/m/y-->
        <input type=text size=15 name=holiday placeholder="Holiday">
        <input type=text size=15 name=rainfall_hour placeholder="Hourly Rainfall in millimeters">
        <input type=submit value=Add>
      </dl>
    </form>

    <div id = "prediction_title" class = "index_headers">
        Prediction:
    </div>
    <div>
        <table>
            <thead>
                <tr>
                   <th>Likes</th>
                   <th>Dislikes</th>
                </tr>

            </thead>
            <tbody>
                {% for like_dislike in like_dislike_count %}
                   <tr>
                       <td>{{ like_dislike.likes }}</td>
                       <td>{{ like_dislike.dislikes }}</td>
                   </tr>
                {% endfor %}
         </tbody>
        </table>


    </div>
    <div id = "user_feedback">
        <form action="{{ url_for('increment_like_dislike') }}" method=post class="increment_like_dislike">
            <input type=submit name=choice value=Like>
            <input type=submit name=choice value=Dislike>
        </form>
    </div>



</body>
</html>