<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h2>
         <a href = "{{ url_for('index') }}">Traffic Predictions in the Twin Cities</a>
    </h2>
    <h4>
        Predicting traffic volume on westbound I-94 at Minnesota DoT ATR Station 301
    </h4>

    <hr/>


    <h3>
        Predict traffic
    </h3>
    <div id = "form_title" class = "index_headers">
        Enter the time of day and weather conditions for your travel time.
    </div>
      <form action="{{ url_for('enter_query_parameters') }}" method=post class=enter-query-parameters>
      <dl>
        <input type=text size=15 name=temperature placeholder="Temperature">
        <input type=text size=15 name=cloud_percentage placeholder="Percentage of Cloud Cover">
        <input type=text size=15 name=weather_description placeholder="Weather Description">
        <input type=text size=15 name=month placeholder="Month">
        <input type=text size=15 name=hour placeholder="Hour">
        <input type=text size=15 name=day_of_week placeholder="Day Of Week">
        <input type=text size=15 name=holiday placeholder="Holiday">
        <input type=text size=15 name=rainfall_hour placeholder="Hourly Rainfall in millimeters">
        <input type=submit value=Add class="submit_button">
      </dl>
    </form>

    <h3>Most Recent Prediction</h3>
    <div id = "prediction_title" class = "index_headers">
        Prediction: <span>{{ prediction.prediction }}</span>
    </div>
    <div id = "traffic_level">
        Predicted Traffic Level: <span>{{ prediction.volume }}</span>
    </div>

    </hr>
    <h3> Instructions </h3>
    <div id = "data_types">
        <li><b>Temperature:</b> Enter a temperature between -40 and 115 degrees fahrenheit. </li>
        <li><b>Percentage of Cloud Cover:</b> Enter a value between 0 and 100. </li>
        <li><b>Weather Description:</b> Enter a weather description. Valid values are (case_sensitive): Clouds, Clear, Mist, Rain, Snow, Drizzle, Haze, Thunderstorm, Fog, Smoke, and Squall</li>
        <li><b>Month:</b> Enter a numeric value between 1 and 12 for the month.</li>
        <li><b>Hour:</b> Enter a numeric value between 0 and 23 for the hour.</li>
        <li><b>Day Of Week:</b> Enter a day of the week (case_sensitive): Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, or Saturday.</li>
        <li><b>Holiday:</b> Enter "None" if the date is not a holiday. Any other value will be treated as a holiday.</li>
        <li><b>Hourly Rainfall in mm:</b> Enter a value between 0 and 300 for the hourly rainfall in mm.</li>
    </div>
    </hr>
    <div id="top_5">
        <h3>
            Top 5 Most Popular Queries
        </h3>
        <table>
             <thead>
                <tr>
                   <th>Query Count</th>
                   <th>Predicted Traffic</th>
                   <th>Month</th>
                   <th>Day Of Week</th>
                   <th>Hour</th>
                   <th>Holiday</th>
                   <th>Temperature</th>
                   <th>Cloud Percentage</th>
                   <th>Weather</th>
                   <th>Hourly Rainfall (mm)</th>

                </tr>
             </thead>

             <tbody id = "top_5_table">
                {% for query in user_query %}
                   <tr>
                       <td>{{ query.query_count }}</td>
                       <td>{{ query.predicted_traffic_count }}</td>
                       <td>{{ query.month }}</td>
                       <td>{{ query.day_of_week }}</td>
                       <td>{{ query.hour }}</td>
                       <td>{{ query.holiday }}</td>
                       <td>{{ query.temperature }}</td>
                       <td>{{ query.cloud_percentage }}</td>
                       <td>{{ query.weather_description }}</td>
                       <td>{{ query.rainfall_hour }}</td>
                   </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>
    <h5>
        Let us know how you liked the application!
    </h5>
    <div id = "user_feedback">
        <form action="{{ url_for('increment_like_dislike') }}" method=post class="increment_like_dislike">
            <input type=submit name=choice value=Like class="submit_button">
            <input type=submit name=choice value=Dislike class="submit_button">
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                   <th>Total Likes</th>
                   <th>Total Dislikes</th>
                </tr>

            </thead>
            <tbody id = "like_dislike_table">
                {% for like_dislike in like_dislike_count %}
                   <tr>
                       <td>{{ like_dislike.likes }}</td>
                       <td>{{ like_dislike.dislikes }}</td>
                   </tr>
                {% endfor %}
         </tbody>
        </table>


    </div>

</body>
</html>